@media only screen and (min-width: 992px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .scroll-container {
        position: relative;
        align-items: center;
        justify-content: space-evenly;  
        left: 0;
        right: 0; 
        z-index: 1; 
    }
    .top-bar, .bottom-bar {
        position: relative;
        background-color: green;
    }
    .top-bar {
        height: 170px; 
        top: 0;
        z-index: 1; 
    }
    .title {
        font-size: 110px;
        font-weight: bold;
        color: yellow;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 0;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .subtitle {
        font-weight: bold;
        color: white;
        font-size: 28px;
        margin-top: 0;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .back-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: red;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: 3px solid black;
        border-radius: 10px;
        cursor: url("cursor_image.png"), pointer;
    }
    .back-button:hover, .carnivores-button:hover {
        background-color: darkred;
    }
    .carnivores-button {
        position: absolute;
        
        background-color: red;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: 3px solid black;
        border-radius: 10px;
        cursor: url("cursor_image.png"), pointer;
    }
    .bottom-bar {
        margin-top: 50px;
        height: 20px;
        bottom: 0;
        z-index: 1; 
    }
    .bottitle {
        font-size: 15px;
        margin-top: 0;
        text-align: center;
    }
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        overflow: hidden;
        background: url("home_image.png") no-repeat center center;
        background-size: cover;
        filter: blur(10px) brightness(0.7);
        z-index: -2; 
    }
    .white-block {
        position: fixed;
        top: 0;
        left: 15%;
        right: 15%;
        height: 100%;
        background-size: cover;
        background-color: white;
        z-index: -1;
    }
    
    .dino-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dino-name, .interesting-fact {
        color: black;
        text-align: center;
        font-size: 50px;
        margin-top: 40px;
        font-weight: bolder;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .dino-details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 40px;
    }
    .dino-image {
        width: 600px;
        height: 400px;
        background-size:cover; 
        color: white;
        display: flex;
        position: relative;
        overflow: hidden;
        background-image: url("ankylosaurus_image.png");
    }
    .dino-description {
        height: 400px;
        width: 250px;
        text-align: left;
        border-right: 15px solid green;
        background-color: orange;
    }
    .dino-description ul {
        list-style-type: disc;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 20px;
        font-size: 18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.5;
        color: black;
    }
    li::marker {
        content: "🍃";
    }
    .dino-text {
        margin-top: 50px;       
        width: 870px;
        color: black;
        text-align: left;
        font-size: 20px;
        text-align: left;
    }
    .fact-round-row {
        display: flex;
        justify-content: center;
        align-items:center;
        padding-top: 30px;
    }
    .dino-round-image{
        width: 350px;
        height: 350px;
        background-image: url("ankylosaurus_fact_image.png");
        background-size:cover;
        border: 10px solid green;
        border-radius: 50%;
        margin-top: 30px;
        background-size:cover; 
        display: flex;
        position: relative;
        overflow: hidden;
    }
    .dino-round-text{
        width: 250px;
        height: 250px;
        background-color: orange;
        border: 10px solid green;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        margin-top: 30px;
        overflow: hidden;
        position: relative;
    }
    .dino-fact {
        transform:translate(-50%,-50%);
        position:absolute;
        font-size: 17px;
        top:50%;
        left:50%;
    }
}